<div class="col-md-12 pull-right">
  <div class="panel panel-default status-<%= status.id %>">
    <div class="panel-heading"><%= status.user.full_name %>
    <%= link_to "×", status_path(status), method: :delete, remote: true,
      type: "button", class: "close" %>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <%= status.content %>
        </div>
      </div>
    </div>
  </div>
</div>
