<footer class="footer">
  <small>
    The <a href= <%root_path %>> mini project</a>
    by <a href="www.facebook.com/Hoangnam93">Hoang Nam</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
